extends lib/layout
include lib/mixins

block variables
  - currentPage = "index.html";
  - jsFiles.push("js/vendor/unslider.js");
  - jsFiles.push("js/main.js");

block body
  +slideshow({pictures: ["img/work/4.png", "img/work/5.png"]})
  .info
    p
      | We have over 10 years of experience providing high quality building
      | services for modern houses, appartment blocks, commercial buildings such
      | as warehouses, foundations, garden walls and other construction
      | services.
    a.btn.btn-lg(type="button",href="contact.html")
      | Contact


