- var suffix = " | Harea Construction Ltd";
- var phoneNumber = "(+44) 0756 120 1301";
- var mobilePhoneNumber = "";
- var cssFiles = ["css/bootstrap.css", "css/bootstrap-theme.css", "css/harea.css"];
-
  var address1 = {
    houseNumber: 28,
    street: "Grasmere Parade",
    borrough: "Slough",
    city: "London, UK",
    postCode: "SL2 5HZ"
  };
  var address2 = {
    houseNumber: "222A",
    houseName: "Harea House",
    street: "Bitchfield Road East",
    city: "Northapmton, UK",
    postCode: "NW3 2SN"
  };
  var jsFiles = [
    'https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js',
    'js/vendor/bootstrap.js',
    'js/vendor/ie10-viewport-bug-workaround.js'
    ];
  var pages = {
      "index.html":         {title: "Home", bodyClass: "front-page"},
      "about.html":         {title: "About" },
      "contact.html":       {title: "Contact"},
      "work.html":          {title: "Our Work"},
      "sample-panels.html": {title: "Sample Panels"}
      };

  var slideShowImages = [
  ];
