- var suffix = " | Harea Construction Ltd";
- var phoneNumber = "(+44) 0756 120 1301";
- var mobilePhoneNumber = "";
-
  var pages = {
      "index.html":         {title: "Home", bodyClass: "front-page"},
      "about.html":         {title: "About" },
      "contact.html":       {title: "Contact"},
      "work.html":          {title: "Our Work"},
      "sample-panels.html": {title: "Sample Panels"}
      };

  var slideShowImages = [
  ];
