extends _layout

block variables
  - currentPage = "about.html"

block body
  h2 About Us
  p.blob
      | Harea Construction Ltd was founded by Ion Harea and is
      | providing high quality construction
      | services in London and throughout the country. We have many satisfied
      | customers that can confirm our professional approach and the quality of
      | our work. Please feel free to use the 
      a(href="contact.html") contact page 
      | to request any information.

  .logo
    img(src='img/logo.png')
  .info-container
    ul.info
      li.primary Harea Construction Ltd
      li.important 28 Grasmere Parade
      li.important SL2 5HZ
      li.important London, UK
      li.secondary Company Registration Number: 8850624
