include lib/mixins

+head("Harea Construction Ltd | Home")
+body("index.html")(style="background-image: url('img/bg.png'); background-size: cover;")
  .col-sm-3.left-column
    .logo
      img(src='img/logo.png')
    .info-container
      ul.info.info-company
        li.primary Harea Construction Ltd
        li.important 28 Grasmere Parade
        li.important SL2 5HZ
        li.secondary London, UK
  .col-sm-8.right-column
    .info-container.light-bg
      h2 What We Do
      p With over 10 years experience, we can provide the following services:
      ul(info='')
        li.important construction
        li.important another one
        li.important something else
      a.btn.btn-primary.btn-lg.active(href='work.html')
        | See Our Work
