extends lib/layout
include lib/mixins

block variables
  - currentPage = "index.html";
  - jsFiles.push("js/vendor/unslider.js");
  - jsFiles.push("js/main.js");

block body
  +slideshow({pictures: ["img/work/4.png", "img/work/5.png"]})
