include lib/mixins

+head("Harea Construction Ltd | Sample Panels")
+body("sample-panels.html")
  h2 Sample Panels
  .row.row-gallery
    +workImage("1.png", " ")
    +workImage("2.png", " ")
    +workImage("9.png", " ")
  .row.row-gallery
    +workImage("10.png", " ")
    +workImage("3.png", " ")
    +workImage("13.png", " ")
