include lib/mixins

+head("Harea Construction Ltd | Our Work")
+body("work.html")
  h2 Our Work
  .row.row-gallery
    +workImage("1.png", "February 2014")
    +workImage("2.png", "March 2014")
    +workImage("3.png", "March 2014")
    +workImage("4.png", "June 2014")
    +workImage("5.png", "February 2015, Oxfordshire")
    +workImage("6.png", "February 2015, Oxfordshire")
    +workImage("7.png", "February 2015, Oxfordshire")
    +workImage("8.png", "September 2014")
