include lib/mixins

+head("Harea Construction Ltd | Our Work")
+body("work.html")
  h2 Our Work
  .row.row-gallery
    +workImage("1.png", "February 2014")
    +workImage("2.png", "March 2014")
    +workImage("5.png", "February 2015, Oxfordshire")
  .row.row-gallery
    +workImage("6.png", "February 2015, Oxfordshire")
    +workImage("7.png", "February 2015, Oxfordshire")
    +workImage("8.png", "September 2014")
  .row.row-gallery
    +workImage("9.png", "Sample Panel")
    +workImage("10.png", "Sample Panel")
    +workImage("11.png", "Current work, Reading")
  .row.row-gallery
    +workImage("12.png", "Current work, Reading")
    +workImage("14.png", "Hampton 2008")
    +workImage("15.png", "Hampton 2008")
  .row.row-gallery
    +workImage("3.png", "March 2014")
    +workImage("4.png", "June 2014")
    +workImage("16.png", "Block of 29 flats 2010")
  .row.row-gallery
    +workImage("13.png", "Special Brick (300mm by 50mm)")
