include lib/mixins

+head("Harea Construction Ltd | Our Work")
+body("work.html")
  h2 Our Work
  .row.row-gallery
    +workImage("1.png")
    +workImage("2.png")
    +workImage("3.png")
    +workImage("4.png")
    +workImage("5.png")
    +workImage("6.png")
    +workImage("7.png")
    +workImage("8.png")
