extends _layout

block variables
  - currentPage = "work.html"

block body
  h2 Our Work
  .row.row-gallery
    +currentWorkImage("17.png", "Current Work")
    +workImage("11.png", "April 2015")
    +workImage("12.png", "April 2015")
  .row.row-gallery
    +workImage("5.png", "February 2015, Oxfordshire")
    +workImage("6.png", "February 2015, Oxfordshire")
    +workImage("7.png", "February 2015, Oxfordshire")
  .row.row-gallery
    +workImage("8.png", "September 2014")
    +workImage("4.png", "June 2014")
    +workImage("16.png", "Block of 29 flats 2010")
  .row.row-gallery
    +workImage("14.png", "Hampton 2008")
    +workImage("15.png", "Hampton 2008")
